[submodule "neotrellis_monome_picosdk_iii/src/iii"]
	path = neotrellis_monome_picosdk_iii/src/iii
	url = https://codeberg.org/tehn/iii
[submodule "neotrellis_monome_picosdk_iii/src/littlefs"]
	path = neotrellis_monome_picosdk_iii/src/littlefs
	url = https://codeberg.org/tehn/littlefs
[submodule "neotrellis_monome_picosdk_iii/src/lua"]
	path = neotrellis_monome_picosdk_iii/src/lua
	url = https://codeberg.org/tehn/lua.git
